<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Filter out Hypixel scoreboard and sound errors -->
    <RegexFilter regex="Error executing task.*|Unable to play unknown soundEvent.*" onMatch="DENY"
                 onMismatch="NEUTRAL"/>

    <Logger name="io.netty" level="INFO" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="net.minecraft.network" level="INFO" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
</Configuration>